.*
CHANGELOG.md
Dockerfile*
README.md
RELEASE_NOTES_TEMPLATE.md
docker-compose*
judge0-api.conf*
log/*
scripts
!scripts/entrypoint
!scripts/load-config
!scripts/run-server
!scripts/run-workers
srv
tmp/*
