version: '2'
services:
  nginx:
    image: judge0/jwilder-nginx-proxy:latest-2020-02-11
    environment:
      - DEFAULT_HOST=judge0.local
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    ports:
      - "8080:80"
    restart: always

  server:
    image: judge0/judge0:latest-dev
    environment:
      - VIRTUAL_HOST=judge0.local
    volumes:
      - .:/api
    ports:
      - "3000:3000"
      - "3030:3030"
    privileged: true

  db:
    image: postgres:13.0
    env_file: judge0.conf
    volumes:
      - postgres-data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    restart: always

  redis:
    image: redis:6.0
    command: [
      "bash", "-c",
      'docker-entrypoint.sh --appendonly yes --requirepass "$$REDIS_PASSWORD"'
    ]
    env_file: judge0.conf
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    restart: always

volumes:
  postgres-data:
  redis-data:
