body {
  margin: 0 40px 40px;
  background-color: #eee;
}

.greetings {
  border-bottom: 1px solid #aaa;
}

.greetings h1 {
  font-size: 3.5em;
}

.greetings h3 {
  font-weight: normal;
}

.controls {
  margin-top: 8px;
}
