body {
  margin: 0 40px;
  background-color: #f0f0f0;
  font-family: Arial, Chivo, "Helvetica Neue", Helvetica, serif;
  color: #444;
}

a {
  color: #69a;
  text-decoration: none;
}

.footer {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding: 30px 40px;
  text-align: center;
  font-size: 0.8em;
  color: #888;
}

.footer #copyright {
  display: inline-block;
}

.headline {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.headline h1 {
  font-size: 3.5em;
}

.headline h1 a {
  color: #444;
  text-decoration: none;
}

.headline h3, h4 {
  font-weight: normal;
}

.controls {
  margin-top: 12px;
  margin-bottom: 24px;
}

.controls select, button {
  font-size: 1em;
}

#loader {
  vertical-align: middle;
  visibility: hidden;
  margin-right: 4px;
}
